.lead {
  padding: 50px 70px 60px;
  background-color: #073042;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .lead {
    padding: calc((-3125vw + 43200px)/64) calc((325vw + 320px)/64) calc((-125vw + 5440px)/64); /* 768px: 300px 44px 70px */
  }
}

@media (max-width: 768px) {
  .lead {
    align-items: center;
    padding: calc((1475vw + 5472px)/56) calc((425vw - 800px)/56) calc((375vw + 1040px)/56); /* 320px: 182px 10px 40px */
  }
}
