.profile__info {
  border: none;
  padding: 0;
  margin: 0;
  width: 410px;
  margin-bottom: 220px;
}

@media (max-width: 1280px) {
  .profile__info {
    margin-bottom: calc((125vw + 12480px)/64); /* 768px: 210px */
  }
}

@media (max-width: 768px) {
  .profile__info {
    margin-bottom: calc((-2125vw + 28080px)/56); /* 320px: 380px */
    width: calc((1875vw + 8560px)/56); /* 320px: 260px */
  }
}