.profile__info-item {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.profile__info-item:not(:last-of-type) {
  border-bottom: 1px #E8E8E8 solid;
  margin-bottom: 17px;
}