.navbar__link_type_films {
  margin: 0;
  color: #000;
  font-size: 13px;
  line-height: 1.21;
}

.navbar__link_type_films:not(:last-of-type) {
  margin-right: 16px;
}

.navbar__link_type_films:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar__link_type_films {
    display: none;
  }
}
