.navbar__link_type_signin {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 32px;
  background-color: #2BE080;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.21;
  border-radius: 3px;
}

.navbar__link_type_signin:active {
  transform: translateY(1px);
}

@media (max-width: 768px) {
  .navbar__link_type_signin {
    width: calc((275vw + 2144px)/56); /* 320px: 54px */
    height: calc((75vw + 1216px)/56); /* 320px: 26px */
    font-size: calc((25vw + 480px)/56); /* 320px: 10px */
  }
}