.about__visual-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  width: 100%;
}

@media (max-width: 768px) {
  .about__visual-text {
    font-size: calc((75vw + 992px)/112); /* 320px: 11px */
  }
}
