.card__subline {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  color: #A0A0A0;
  padding-left: 16px;
}

@media (max-width: 768px) {
  .card__subline {
    font-size: calc((25vw + 1040px)/112); /* 320px: 10px */
  }
}
