.navbar__menu-button {
  width: 44px;
  height: 44px;
  background-image: url(../../../images/navbar__menu-button.svg);
  background-color: transparent;
  display: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

@media (max-width: 768px) {
  .navbar__menu-button {
    display: block;
  }
}
