.student__portfolio-link {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.21;
}

@media (max-width: 1280px) {
  .student__portfolio-link {
    font-size: calc((25vw + 1600px)/64); /* 768px: 28px */
  }
}

@media (max-width: 768px) {
  .student__portfolio-link {
    font-size: calc((125vw + 608px)/56); /* 320px: 18px */
  }
}
