.tech {
  padding: 100px 70px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1280px) {
  .tech {
    padding: calc((125vw + 1920px)/32) calc((125vw + 640px)/32) calc((625vw + 960px)/64); /* 768px: 90px 50px 90px */
  }
}

@media (max-width: 768px) {
  .tech {
    padding: calc((125vw + 1560px)/28) calc((50vw - 34px)/7) ; /* 768px: 70px 18px */
  }
}